// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@page {
  size: A4;
  margin-top: 2cm;
	margin-right: 4cm;
	margin-left: 2cm;
	margin-bottom: 2cm;
}

@page {
			content: "Page " counter(page) " of " counter(pages);
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
	body {
		@include adjust-leading-to(2);
		//font-size: percentage(10 / 16);
		color: black;
	}
	nav{
		display: none;
	}
	header#banner{
		display: none;
	}
	h1, h2, h3, h4, h5{
		padding-top:20px;
		padding-bottom: 20px;
		line-height: normal;
	}
	h3 {
		page-break-after: avoid;
	}
	img{
		width: 130%;
		height: auto;
		-webkit-column-break-inside: avoid;
	}
	p{
		font-size: 14pt;
		line-height: 18pt;
		width: 100%;
	}
	figcaption{
		font-size: 14px;
		line-height: 17px;
		width: 100%;
	}
	ol.simple-footnotes{
		width: 100%;
	}
	.no-print{
		display: none;
	}
	footer#contentinfo{
		display: none;
	}
	div.longform-chapter{
		page-break-after: always;
	}
	div.longform-chapter :last-of-type {
		page-break-after: never;
	}
}
