body {
  margin: 0px;
  padding-bottom: 36px;
  @include respond-to($c-vp){
    margin: 18px;
  }
}

h1 {
  margin-bottom: 0.55em;
  margin-top: 0.275em;
  line-height: 1em;
}

.general-title{
  color: $agent-orange;
}

h2 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h3 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h4 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h5 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

small{
  font-size: $kappa;
}

figcaption{
  font-family: monospace;
  padding: 4px;
  outline: 1px dotted grey;
  line-height: 18px;
  //color: white;
  @include leader(1);
  @include trailer(1);
  a{
    //color: white;
  }
  span{
    color: black;
  }
}

sup{
  vertical-align: super;
  a{
    font-family: monospace;
    font-size: $kappa - 2px;
    color: red;
    //text-decoration: underline;
  }
}

.lt-ie9 .page-container {
  margin-top: 36px;
  width: 60%;
  margin-left: 20%;
}
@media screen and (min-width: 600px) {
  .page-container {
    margin-top: 36px;
    width: 60%;
    margin-left: 20%;
  }
}


/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  font-family: 'hk_groteskregular';
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: #fff;
  color: #777;
}

a {
  color: #c64f24;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #67b2b1;
}

ol#post-list{
  h2{
    font-family: 'hk_groteskbold';
    font-size: 42px;
  }
  li{
    blockquote{
      border-left: 2px solid lightgrey;
    }
    div.entry-content-home{
      h1, h2, h3, h4, h5{
        font-size: 15px;
        font-family: 'hk_groteskbold'
      }
    }
  }
}

footer#contentinfo{
  width: 100%;
  float: left;
  border-top: 1px solid black;
  @include leader(20);
  @include padding-leader(4);
  font-family: monospace;
  background-color: white;
}
