ol#post-list li.iter-article {
  margin-top: 18px;
  margin-bottom: 18px;
}

img.home_hero {
  width: 60%;
  margin-left: 20%;
}

div.entry-content-home {
  max-height: 100px;
  min-height: 100px;
  overflow: hidden;
}
div.entry-content-home h1, div.entry-content-home h2, div.entry-content-home h3, div.entry-content-home h4, div.entry-content-home h5, div.entry-content-home h6, div.entry-content-home p, div.entry-content-home li, div.entry-content-home blockquote {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'hk_groteskregular';
  color: lightgrey;
}
div.entry-content-home a {
  color: grey;
}

header#banner.body h1 {
  margin-bottom: 0;
}
a.more-category-link{
  font-family: 'hk_groteskregular';
}

div.homepage-lisiting{
    a{
      color: grey;
    }
    a:hover{
      color: $agent-orange;;
    }
    max-height: 800px;
    overflow: hidden;
    margin-bottom: 2*$para;
    background-image: linear-gradient(to bottom, transparent, white);
    ul{
      list-style-type: square;
    }
    li.homepage-li{
      margin-bottom: $para;
      div.hp-article-summary{
        font-family: 'hk_groteskregular';
        h1, h2, h3, h4, h5, h6{
          font-size: $para;
          margin: none;
          padding: none;
          line-height: $para;
        }
      }
    }
    date{
      font-family: 'hk_groteskregular';
    }
    h2.category-title{
      color: $agent-orange;;
      font-size: 48px;
      word-break: break-all;
      font-family: 'hk_groteskbold';
      position: sticky;
      top: $para;
      background-color: white;
      @include respond-to($c-vp){
      min-height: 120px;
      }
    }
    h3.article-title{
      color: $agent-orange;;
      font-size: 36px;
      font-family: 'hk_groteskbold';
      line-height: 40px;
    }
    div.side-info{
      position: sticky;
      top:$para;
    }
  }
