nav{
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
  a{
    color: black;
  }
  a.menu-category{
    text-transform: lowercase;
    color: $agent-orange;
  }
  a.menu-page{
    text-transform: lowercase;
    color: black;
  }
  li.active{
    a{
    border-bottom: 1px solid grey;
    }
  }
}
header#banner.body{
  h1 a{
    color: black;
  }
}
nav#menu {
  width: 100%;
  margin-bottom: 18px;
  margin-top: $para;
  display: block;
  float: left;
}
nav#menu ul li {
  display: inline;
  padding-right: 18px;
}
.lt-ie9 nav#menu {
  float: left;
}
@media screen and (min-width: 600px) {
  nav#menu {
    float: left;
  }
}
