section#content, div.entry-content{
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
  p{
    @include padding-trailer(6);
  }
  img{
    border: 1px solid grey;
    padding: 4px;
    width:100%;
    @include leader(1);
    @include trailer(1);
    @include respond-to($c-vp){
      width:140%;
    }
  }
  blockquote{
    p{
    @include padding-trailer(0);
    font-family: 'hk_groteskitalic';
    border-left: 1px solid black;
    padding-left: 15px;
    @include leader(1);
    @include trailer(4);
    }
  }
  ul{
    margin-left: $para;
    @include leader(3);
    @include trailer(3);
  }
  li ul{
    margin-left: $para;
    @include leader(0);
  }
}
footer.post-info{
  pre.sourcelink{
    font-family: monospace;
    @include leader(2);
  }
}

p code{
  display: block;
  padding: 7px;
  background: lightgrey;
  font-family: monospace;
}
div.data-info{
  @include respond-to($d-vp){
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: $para;
  //bottom: $para*2;
  }
}

div.separation-rule{
  border-top: 1px solid grey;
  margin-top: $para;
  margin-bottom: $para;
  background-color: white;
  .not-mobile{
    @include respond-to($a-vp){
      display: none;
    }
    @include respond-to($c-vp){
      display: block;
    }
  }
}

div.toc{
  @include leader(-8);
}

ol.simple-footnotes{
  font-family: monospace;
  border-top: 1px dotted grey;
  padding-top: $para;
  padding-bottom: $para;
}
ol.simple-footnotes::before{
  content: "footnotes:";
  font-weight: bold;
}
