section#content.prototype{
  img{
    width: 100%;
  }
  hr{
    width: 100%;
    float: left;
  }
  h1, h2, h3, h4, h5{
    width: 100%;
    float: left;
  }
  figcaption{
    width: 50%;
    margin: 0 auto;
  }
  div.expo1{
    width:50%;
    margin: 0 auto;
    .speaker{
      background-color: green;
    }
    .reader{
      background-color: blue;
    }
    li{
      display: none;
    }
  }
  .expo2{
    p{
      color:white;
    }
  }
  .expo3{
    p{
      color:white;
      visibility: none;
    }
    span{
      text-align: right;
      display: block;
      width: auto;
    }
    .subject{
      color: grey;
    }
  }
  .expo4{
    p{
      color: grey;
    }
    span{
      display: block;
      visibility: hidden;
    }
    .speaker{
      background-color: white;
    }
    .reader{
      background-color: white;
    }
  }
  .half-left{
    width: 15% !important;
    margin-left: 35% !important;
    float: left;
  }
  .half-right{
    width: 15% !important;
    //margin-left: 2% !important;
    float: left;
  }
  .quarter-left{
    width: 15% !important;
    margin-left: 15% !important;
    float: left;
    font-size: 10px;
  }
  .quarter-right{
    width: 15% !important;
    //margin-left: 2% !important;
    float: left;
    //border-right: 1px dotted black;
    margin-right: 1%;
    font-size: 10px;
  }
  .dialog{
    span{
      display: block;
    }
  }
  .dialog-left{
    p{
      color: white;
    }
    span.speaker{
      background-color: green;
      text-align: right;
    }
  }
  .dialog-center{
    span{
      visibility: hidden;
    }
  }
  .dialog-right{
    p{
      color: white;
    }
    span.reader{
      background-color: blue;
    }
  }
  .side-by-side{
    font-size: 8px;
  }
}

h3.animate{
  width: 46em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 15s steps(50, end);
  animation: type 15s steps(50, end);
  margin-bottom: none;
}
.animate-second{
  animation-delay: 16s;
}
.animate-third{
  animation-delay: 32s;
}
.animate-fourth{
  animation-delay: 47s;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

div.conversation-layout{
  outline: 1px dotted grey;
  float: left;
  p.context{
    width: 100%;
    color: lightgrey;
  }
  p.speaker{
    text-align: left;
    margin-left: -15%;
    color: black;
  }
  p.speaker::before{
    content: "— "
  }
  p.reader{
    text-align: right;
    margin-right: -15%;
    color: black;
  }
  p.reader::before{
    content: "— ";
  }
  p.binding-action{
    font-weight: bold;
    color: $agent-orange;
  }
}
