em.note{
  font-family: monospace;
  color: green;
  font-size: 12px;
  line-height: 10px;
}
em.note::before{
  content: "—note: "
}

div.thesis-longform{
  p{
    width: 50%;
  }
  @media print{
    margin-top: 800px;
    p{
      width: 100%;
      orphans:6;
    	widows:2;
    }
  }
}
