/* ::Import styles */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'hk_groteskbold';
  src: url("../fonts/hkgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url("../fonts/hkgrotesk-bolditalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskitalic';
  src: url("../fonts/hkgrotesk-italic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight';
  src: url("../fonts/hkgrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight_italic';
  src: url("../fonts/hkgrotesk-lightitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium';
  src: url("../fonts/hkgrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium_italic';
  src: url("../fonts/hkgrotesk-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskregular';
  src: url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.font-body, body {
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 16px;
  line-height: 1.4666667em;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

p em {
  font-style: normal;
  font-family: 'hk_groteskitalic';
}

h1 {
  font-size: 42px;
  font-family: "hk_groteskbold";
}

h2 {
  font-size: 32px;
  font-family: "hk_groteskmedium";
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-family: "hk_groteskmedium";
}

h4 {
  font-size: 20px;
  font-family: "hk_groteskmedium";
}

h5 {
  font-size: 16px;
  font-family: "hk_groteskmedium";
}
