{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock title %}
{% block content %}
<div class="colspan12-3 colspan6-2 as-grid data-info">
<section id="content" class="body">
  <h1 class="general-title">{{ article.title }}</h1>
  <footer class="post-info no-print">
    <!--<pre class="">document title: <b>{{ article.title }}</b></pre>-->
    <time class="published" datetime="{{ article.date.isoformat() }}">
      date: {{ article.locale_date }}
    </time>
    <pre class="">category: {{ article.category }}</pre>
    <pre class="">tags: {{ article.tags }}</pre>
    {% if article.category.name == "Thesis" %}<a href="http://tangible.tools/pages/thesis-longform.html">Link to the thesis as a longform</a>{% endif %}
    {% set file = article.source_path.split('/') %}{% set filename = file[-1] %}
    <pre class="sourcelink no-print">source file: <a target="blank" href="https://gitlab.com/colmoneill/drafts/blob/master/PZIyear2/{{ article.category }}/{{ filename }}">gitlab</a> or <a target="blank" href="https://git.pzimediadesign.nl/colm.drafts/files.html">git PZI</a></pre>
    <pre class="sourcelink no-print"><a target="blank" href="https://gitlab.com/colmoneill/drafts/commits/master/PZIyear2/{{ article.category }}/{{ filename }}">view this documents versions</a>
    <hr>
  </footer><!-- /.post-info -->
  {% if article.toc %}
  <div class="toc no-print">
  {{ article.toc }}
  </div>
  {% endif %}
</div>
<div class="colspan12-6 colspan6-4 as-grid with-gutter">
  <div class="entry-content">
    {% if article.prev_article_in_category %}
    <a class="no-print" href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">previous section: <br>&larr; {{ article.prev_article_in_category.title }}</a>
    {% endif %}
    {{ article.content }}
    {% if article.next_article_in_category %}
    <hr class="no-print">
    {% if article.prev_article_in_category %}
    <a class="no-print" href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">previous section: <br>&larr; {{ article.prev_article_in_category.title }}</a>
    {% endif %}
    <br><a class="no-print"  href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">next section: <br>&rarr; {{ article.next_article_in_category.title }}</a>
    {% endif %}
  </div><!-- /.entry-content -->
</section>
</div>
{% endblock %}
