  <!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1">
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body id="index" class="home">
  <div class="row-parent">
  <div class="row">
  <div class="row__colspaced">
    {% block nav %}
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
                <nav id="menu"><ul>
          				{% for cat, null in categories %}
          					<li {% if cat == category %}class="active"{% endif %}><a class="menu-category" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          				{% endfor %}
                  {% if DISPLAY_PAGES_ON_MENU %}
          					{% for page in PAGES %}
          						<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          					{% endfor %}
          				{% endif %}
                  {% for title, link in MENUITEMS %}
          					<li><a class="menu-page" href="{{ link }}">{{ title }}</a></li>
          				{% endfor %}
                </ul></nav><!-- /#menu -->
        </header><!-- /#banner -->
      {% endblock nav %}
        {% block hero %}
        {% endblock hero %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        <footer id="contentinfo" class="body">
          <div class="colspan12-12">
          <p>tangible.tools is a site for research, gathering two graduation projects, <a href="http://tangible.tools/category/thesis.html">the thesis</a>, and a <a href="/category/modes_of_address.html">graduation project</a>, by <a target="blank" href="http://colm.be">Colm O'Neill</a> at the <a target="_blank" href="http://www.pzwart.nl/">Piet Zwart Institute</a>, <a href="http://www.pzwart.nl/blog/category/root-en/pzi-en/media-design-en/">Master in Media Design and communications.</a></p>
          </div>
        </footer><!-- /#contentinfo -->
        {% endblock footer %}
  </div>
  </div>
  </div>


  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.tangible.tools"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//consultone.eu/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//consultone.eu/piwik/piwik.php?idsite=3&rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->


</body>
</html>
