{% extends "base.html" %}
{% block hero %}
{% endblock %}
{% block content %}

<section id="content content-home">
  <div class="row-parent">
  <div class="colspan12-3">
  {{page.content}}
  </div>
  </div>
  {% for category, articles in categories|sort(reverse = True) %}
    <div class="colspan12-3 as-grid homepage-lisiting data-info">
      <div class="separation-rule"></div>
    <h2 class="category-title"><a href="{{category.url}}">{{category}}</a></h2>
    </div>
    <div class="colspan12-6 as-grid with-gutters homepage-lisiting">
      <div class="separation-rule not-mobile"></div>
    <ul>
    {% for article in articles %}
    <a href="{{article.url}}">
      <li class="homepage-li">
        <h3 class="article-title">{{article.title}}</h3>
        <date>{{article.locale_date}}</date>
        <div class="hp-article-summary">{{article.summary}}</div>
      </li>
    </a>
    {% endfor %}
    </ul>
    </div>
    <div class="colspan12-6 push12-3 with-gutter">
    <a class="more-category-link" href="{{category.url}}">more articles in {{category}}</a>
    </div>
  {% endfor %}
{% endblock content %}
