{% extends "base.html" %}
{% block hero %}
{% endblock %}
{% block content %}
<section id="content">
<div class="row-parent">
{% block content_title %}
<hr>
<h2>All articles</h2>
<hr>
{% endblock %}
<div class="colspan12-6 as-grid with-gutter">
<ol id="post-list">
{% for article in articles_page.object_list %}
        <li class="iter-article"><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </footer><!-- /.post-info -->
                <div class="entry-content-home"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</div>
</div>
</section><!-- /#content -->
{% endblock content %}
