{% extends "base.html" %}
{% block title %}{{ page.title }} — {{ SITENAME }}{% endblock title %}
{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <div class="colspan12-6 push12-3 as-grid with-gutter">
      <div class="entry-content">
    {{ page.content }}
	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
      </div>
    </div>
	{% endif %}
{% endblock %}
