{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block content %}

<section id="content" class="body prototype">
  <hr>
  <h1 class="general-title">{{ article.title }}</h1>
  <footer class="post-info">
    <!--<pre class="">document title: <b>{{ article.title }}</b></pre>-->
    <time class="published" datetime="{{ article.date.isoformat() }}">
      date: {{ article.locale_date }}
    </time>
    <pre class="">category: {{ article.category }}</pre>
    <pre class="">tags: {{ article.tags }}</pre>
    <pre class="sourcelink">source files & versions: <a target="blank" href="https://gitlab.com/colmoneill/drafts/tree/master/PZIyear2/{{ article.category }}">gitlab</a> or <a target="blank" href="https://git.pzimediadesign.nl/colm.drafts/files.html">git PZI</a></pre>
    <hr>
	{% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    <hr>
	{% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
