{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" media="screen, projection, print"
 href="http://www.w3.org/Talks/Tools/Slidy2/styles/slidy.css" />
<script src="http://www.w3.org/Talks/Tools/Slidy2/scripts/slidy.js"
 charset="utf-8" type="text/javascript"></script>
 <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
 <meta charset="utf-8" />
 <style>
 p, li{
   font-family: hk_groteskregular;
 }
 li{
   list-style-type: circle;
 }
 ul{
   list-style-type: circle;
 }
 div.slide{
   margin-top: 10vh;
 }
 div.toolbar{
   font-family: monospace;
   font-weight: normal;
   font-size: 12px;
 }
 strong {
   font-weight: normal;
   font-style: italic;
   color: red;
 }
</style>
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    {{ article.content }}
{% endblock %}
{% block footer %}
{% endblock %}
<script>


  var hi=1, h=0;
  function bgHue() {
    h+=hi;
    if(h>=360){ h=0; }
    var bgh = document.body.style;
    bgh.background =  "hsl("+h+",50%, 50%)";
  }
  setInterval(bgHue,50);

</script>
