{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block content %}

<section id="content" class="body">
  <div class="thesis-longform">
    {% for article in articles|reverse %}
      {% if article.category.name == "Thesis" %}
        {% if article.status == "draft" %}
        {% endif %}
        {% if article.status == "outdated" %}
        {% else %}
        <div class="no-print">
        {{ article.toc }}
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% for article in articles|reverse %}
    {% if article.category.name == "Thesis" %}
      {% if article.status == "draft" %}
      {% endif %}
      {% if article.status == "outdated" %}
      {% else %}
      <div class="longform-chapter">
        <h1>{{article.title}}</h1>
        {{ article.content }}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endblock %}
